<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
<!--            <link rel="stylesheet" href="style.css" />  -->
            <title>{% block title %}MetaG metagenomics analysis{% endblock %}</title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                .sidebar-nav {
                    padding: 9px 0;
                }

                @media (max-width: 980px) {
                    /* Enable use of floated navbar text */
                    .navbar-text.pull-right {
                        float: none;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }

                .helptext {
                    float:right;
                    width:300px;
                    color:blue;
                }
            </style>
            <!--            <link href="http://moonfish.ttu.ee/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->

<!-- jQuery 2.1.1 from CDN (IE<9 not supported) -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- jQuery UI 1.10.4 from CDN -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<!-- Compiled and minified Bootstrap 3.1.1 JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</head>

<body>

{% load tags %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MetaG</a>
        </div><!--/.navbar-header-->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% active request "^/user/login/$" %}"><a href="/user/login">Login</a></li>
            <li class="{% active request "^/user/logout/$" %}"><a href="/user/logout">Logout</a></li>
            <li style="background-color:DarkBlue;"><a style="color:White;" href="">{% if request.user.username %}User: <b>{{ request.user.username }}</b>{% else %}Not logged in{% endif %}</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div><!--/.container-fluid-->
    </div><!--/.navbar-->

    <div class="container-fluid">
      <div class="row">
        {% block sidebar %}
             <div class="col-sm-3 col-md-2 sidebar">
                 <ul class="nav nav-sidebar">
                   <li><h3>Manage</h3></li>
                   <li><a href="/projects/">User projects</a></li>
                   <li><a href="/projects/create/">Create project</a></li>
                   <li><a href="/user/create/">Create user</a></li>
                   <li><a href="/admin/">Admin interface</a></li>
                 </ul>
             </div><!--/.sidebar-->
        {% endblock %}


        <!--    <div class="span7"> -->
        <div class="col-sm-9 col-sm-offset-0 col-md-10 col-md-offset-0 main">
          <h2 class="page-header">{% block action %}MetaG{% endblock %}</h2>
          <!--<p>{{ request.get_full_path }}</p>-->
            <!-- <div class="jumbotron">-->
            {% block content %}{% endblock %}
        </div><!--/.main-->

      </div><!--/.row-->

    <hr>

    <footer>
      <p>© Tallinna Tehnikaülikool 2014</p>
    </footer>

    </div><!--/.container-fluid-->

</body>
{% block endscripts %}{% endblock %}
</html>
